* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  inset: 0;
}

.pointer {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.texture-selector {
  background-color: lightgray;
  border: 2px solid rgba(117, 117, 117, 0.638);
  padding: 8px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  border-radius: 8px;

  img {
    width: 30px;
    image-rendering: pixelated;

    &.selected {
      border: 2px solid black;
    }
  }
}
